@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

li {
  text-decoration: none;
}

body {
  font-family: "Roboto";
  padding: 5px;
  background-color: #111;
  color: #fff;
}

img {
  width: 200px;
}

.row {
  margin: 0;
}

nav {
  display: inline-block;
  background-color: #111;
  color: #fff;
  padding: 15px;
  text-align: right;
  border-bottom: 2px solid #000000;
  width: 10000px;
  position: fixed;
  top: 0;
  z-index: 2;
  margin-left: -25px;
  height: 80px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  margin-right: 25px;
  margin-top: 15px;
}
nav -link,
nav .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
  padding: 5px;
  border: 2px solid transparent;
  border-bottom: 2px solid #111;
  margin: 5px;
  border-radius: 10px;
}
nav -link:hover,
nav .navbar-brand:hover {
  border: 2px solid #111;
}

.bg-red {
  background-color: #ee5844;
}

header {
  border-bottom: 1px solid #111;
  text-align: center;
  padding: 10px 20px;
}

footer {
  background-color: #ee5844;
  color: #111;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -5px;
}

main {
  margin: 20px;
  padding: 20px;
}

.hero {
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.hero-content h1 {
  text-align: center;
  text-decoration: underline;
  margin: 20px;
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
}
.hero-content p {
  font-size: 24px;
  width: 60%;
}

.card {
  width: 400px;
  border-radius: 0;
  border: 2px solid #ee5844;
  padding: 0;
  transition: 0.3s;
  overflow: hidden;
}
.card:hover {
  background-color: #ee5844;
  color: #111;
  box-shadow: 3px 3px 3px #111;
}
.card-img-top {
  width: 100%;
  border-radius: 0;
  filter: blur(4px);
  transition: 0.3s;
}
.card:hover .card-img-top {
  filter: blur(0);
}
.card:hover .btn-primary {
  border: 1px solid #111;
  box-shadow: 3px 3px 3px #fff;
}
.card .btn-primary {
  background-color: #ee5844;
  color: #111;
  font-size: 24px;
  width: 200px;
  border-color: #ee5844;
  border-radius: 0;
}
.card .btn-primary:hover {
  background-color: #ee5844;
  color: #111;
  border-color: #ee5844;
}
.card .btn-check:checked + .btn,
.card .btn.active,
.card .btn.show,
.card .btn:first-child:active,
.card :not(.btn-check) + .btn:active {
  background-color: #111;
  color: #ee5844;
  border-color: #ee5844;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #ee5844;
  box-shadow: 0 0 20px 20px #191919;
  border: 3px solid #000000;
  border-radius: 2%;
}

label {
  margin-bottom: 0.5em;
  color: #111;
}

input,
textarea {
  padding: 8px;
  margin-bottom: 1em;
  border: 1px solid #111;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #fff;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #ee5844;
}

.card-main {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  gap: 10px;
}

.card-ls {
  width: 600px;
  height: 100%;
  padding: 30px;
  margin: 200px auto;
  margin-left: 200px;
  display: inline-block;
  text-align: center;
}

.titletwo {
  text-align: center;
  text-decoration: underline;
  margin: 20px;
  margin-top: 100px;
  font-size: 60px;
  font-weight: bold;
}

.divcontact {
  max-width: 600px;
  margin: 2em auto;
  padding: 2em;
  background-color: #ee5844;
  box-shadow: 0 0 20px 20px #191919;
  border: 5px solid #000000;
  border-radius: 2%;
}

@media (max-width: 480px) {
  .hero {
    height: 800px;
  }
  .hero-content {
    padding: 15px;
  }
  .hero-content p {
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
