footer {
    @extend .colortwo;
    display: grid;
    grid-template-columns: 3, 1fr;
    text-align: center;
    padding: 45px 0px;
    grid-gap: 50px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}