.hero {
    @include flexible;
    background-size: cover;
    height: 600px;
    gap: 15px;

    &-content {
        @include flexible;
        @include hero(100%, 100%);
        text-align: center;

        h1 {
            @extend .font;
            @include text-margin;
        }

        p {
            font-size: 25px;
            font-weight: bold;
        }
    }
}

.card {
    @extend .estilo;
    width: 400px;
    border: 2px solid $primary-color;
    padding: 0;
    overflow: hidden;

    &:hover {
        @extend .colortwo;
        box-shadow: 3px 3px 3px $secondary-color;
    }

    &-img-top {
        @extend .estilo;
        width: 100%;
        filter: blur(4px);
    }

    &:hover &-img-top {
        filter: blur(0);
    }

    &:hover .btn-primary {
        border: 1px solid $secondary-color;
        box-shadow: 3px 3px 3px #fff;
    }
    
    .btn-primary {
        @extend .colorthree;
        @extend .estilo;
        font-size: 24px;
        width: 200px;
    
        &:hover {
            @extend .colortwo;
            border-color: $primary-color;
        }
    }
    
    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        @extend .colorthree;
    }
}

form {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    box-shadow: 0 0 20px 20px #191919;
    border: 3px solid #000000;
    border-radius: 2%;
}

label {
    margin-bottom: 0.5em;
    color: $secondary-color; 
}

input,
textarea {
    padding: 8px;
    margin-bottom: 1em;
    border: 1px solid $secondary-color;
    border-radius: 4px;
}

button {
    @extend .colortwo;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}

