@media (max-width:480px) {
    .hero {
     grid-template-columns: repeat(4, 1fr);

        &-content {
            padding: 15px;
    
            p {
                width: 100%;
            }
        }
    }
}
