@media (max-width:320px) {
    .hero {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        width: 100%;

        &-content {
            width: 100%;

            h1 {
                font-size: 30px;
                padding: 25px;
                margin: 20px;
                margin-bottom: 25px;
            }

            h2 {
                font-size: 20px;
            }

            p {
                font-size: smaller;
            }
        }
    }

    .row {
        padding-bottom: 15%;

        .text-center {
            margin: 35%;
            margin-left: 20%;
        }
    }
        
    .card {
        padding: 0;
        margin: 25%;
        font-size: small;
        
        .btn-primary {
            font-size: 15px;
            width: 200px;
            padding: 5px;
            margin-left: -2px;
            text-align: center;
        }
    }
}

@media (max-width:768px) {
    .hero, h1, h2, .row, .card, .btn-primary{
    margin: 5%;
    width: 95%;
    }

    .hero-content {
        width: 100%;
        
        h2 {
            margin: 2%;

        }
    }

    .text-center {
        text-align: center;
        justify-content: center;
        margin: 35%;
        margin: 110px;
        margin-left: 0px;
    }

    footer {
      width: 100%;
    }

}

@media (max-width:1200px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
        margin-top: 30px;
    }

    .row {
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    .card-ls {
        font-size: 15px;
    
    
        h1 {
            font-size: 35px;
        }
    }
}