@media (max-width:480px) {
    .hero {
        

        &-content {
            padding: 15px;
    
            p {
                width: 100%;
            }
        }
    }
}

@media (max-width:1200px) {
    .row {
        grid-template-columns: repeat(4, 1fr);
    }
}