.row {
    margin: 0;
}

.card {
    width: 400px;
    border-radius: 0;
    border: 2px solid $primary-color;
    padding: 0;
    transition: .3s;
    overflow: hidden;

    & hover {
        background-color: $primary-color;
        color: $secondary-color;
        box-shadow: 3px 3px 3px $secondary-color;
    }

    & -img-top {
        width: 100%;
        border-radius: 0;
        filter: blur(4px);
        transition: .3s;
    }

    & hover & -img-top {
        filter: blur(0);
    }

    & hover .btn-primary {
        border: 1px solid $secondary-color;
        box-shadow: 3px 3px 3px #fff;
    }
    
    .btn-primary {
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 24px;
        width: 200px;
        border-color: $primary-color;
        border-radius: 0;
    
        & hover {
            background-color: $primary-color;
            color: $secondary-color;
            border-color: $primary-color;
        }
    }
    
    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        background-color: $secondary-color;
        color: $primary-color;
        border-color: $primary-color;
    }
}