.card-main {
    display: flex;
    flex-direction: row-reverse; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    gap: 10px;
}

.card-ls {
    width: 600px;
    height: 100%;
    padding: 30px;
    margin: 200px auto;
    margin-left: 200px;
    display: inline-block;
    text-align: center;
}

.titletwo {
    @extend .font;
    @include text-margin;
}