.row {
    .card-main {
        display: grid;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem) , 1fr));
        gap: 1rem;
        justify-content: space-evenly;
        padding: 5px;
        margin-bottom: 500px;
        margin-left: -5px;
    }

    .card-ls {
        width:500px;
        height: 100%;
        padding: 30px;
        margin: 200px auto;
        margin-left: 650px;
        display: grid;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem) , 1fr));
        gap: 1rem;
        text-align: center;
    }
}

.titletwo {
    @extend .font;
    @include text-margin;
}